# S3 Class Module config
CONFIG_ESP_WIFI_CHANNEL=1
CONFIG_ESP_NOW_MAX_DATA_LEN=250
CONFIG_FREERTOS_HZ=1000

# SPI Master config
CONFIG_SPI_MASTER_IN_IRAM=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# PSRAM for large student routing table
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y

# OTA safety: a new image must reach app_main mark-valid or the bootloader reverts
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
